export(AVGRatio)
export(AVGRatioPlot)
export(CalcCorrOmega)
export(CalcCovar)
export(CalcIsoStat)
export(CalcMeanStat)
export(LastGenStatMultiPlot)
export(LastGenStatMultiPlotWithMean)
export(MapCalcR2)
export(MapEffectiveDimension)
export(NoSelStatMultiPlot)
export(NoSelStatMultiPlotMultiPop)
export(Read)
export(ReadBMat)
export(ReadFolder)
export(ReadMatrices)
export(ReadVariances)
export(TimeSeriesMantel)
export(a)
export(folder)
export(from)
export(many)
export(pattern)
export(populations)
export(using)
