export(AVGRatio)
export(AVGRatioPlot)
export(AVGRatioSimple)
export(CalcCorrOmega)
export(CalcCorrOmegaKrz)
export(CalcCovar)
export(CalcIsoStat)
export(CalcMeanStat)
export(LastGenStatMultiPlot)
export(LastGenStatMultiPlotWithMean)
export(MapCalcR2)
export(MapEffectiveDimension)
export(NoSelStatMultiPlot)
export(NoSelStatMultiPlotMultiPop)
export(PlotCorrs)
export(ReadBMat)
export(ReadFolder)
export(ReadMatrices)
export(ReadPattern)
export(ReadVariances)
export(TimeSeriesMantel)
import(ggplot2)
import(plyr)
import(reshape2)
